footer.footer
  .footer__container.container
    .footer__copyright © 2021 HSM production
    .footer__social.social
      a.social__item.vk(href="#")
        svg
          use(xlink:href="images/sprite.svg#soc-vk")
      a.social__item.ok(href="#")
        svg
          use(xlink:href="images/sprite.svg#soc-ok")
      a.social__item.fb(href="#")
        svg
          use(xlink:href="images/sprite.svg#soc-fb")
      a.social__item.tw(href="#")
        svg
          use(xlink:href="images/sprite.svg#soc-tw")
    if page.current > 0 && page.current < 6
      a.send-postcard(href= URLS.postcard)
        span Пожелать здоровья
