.bad {
  padding-top: 71px;
  padding-bottom: 79px;

  background-image: url("../images/home/bad-bg-1.png"),
    url("../images/home/bad-bg-2.png");
  background-repeat: no-repeat;
  background-position: left -134px bottom 0, right -68px bottom 0;
  background-size: 750px auto, 571px auto;

  border-bottom: solid 2px $blue;

  @include max(xxl) {
    padding-top: vw(71);
    padding-bottom: vw(79);
    border-bottom-width: vw(2);
    background-position: left vw(-134) bottom 0, right vw(-68) bottom 0;
    background-size: vw(750) auto, vw(571) auto;
  }

  &__title {
    margin: 0 0 22px;
    font-size: 144px;
    text-align: center;

    @include max(xxl) {
      margin-bottom: vw(22);
      font-size: vw(144);
    }
  }

  &__plate {
    position: relative;
    max-width: 940px;
    margin: 0 auto 59px;
    padding: 36px 55px 46px 71px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    font-weight: 500;

    border: solid 1px $green-8b;
    border-radius: 15px;
    background-color: $bg;

    @include max(xxl) {
      max-width: vw(940);
      margin-bottom: vw(59);
      padding: vw(36) vw(55) vw(46) vw(71);
      font-size: vw(24);
      line-height: vw(28);
      border-radius: vw(15);
    }

    &::before {
      content: "";
      position: absolute;
      top: -300px;
      left: 49%;
      z-index: -1;
      transform: translateX(-50%);
      width: 787px;
      height: 413px;
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-image: url("../images/home/bad-plate-bg.svg");

      @include max(xxl) {
        top: vw(-300);
        width: vw(787);
        height: vw(413);
      }
    }
  }

  &__text {
    max-width: 708px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    @include max(xxl) {
      max-width: vw(708);
      font-size: vw(24);
      line-height: vw(28);
    }
  }
}
