.hero {
  position: relative;
  padding-top: 179px;
  padding-bottom: 63px;

  @include max(xxl) {
    padding-top: vw(179);
    padding-bottom: vw(63);
  }

  @include max(sm) {
    padding-top: 0;
    padding-bottom: vw(114, 800);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 173px;
    background: linear-gradient(180deg, #efefef 0%, transparent 100%);
    pointer-events: none;

    @include max(xxl) {
      height: vw(173);
    }

    @include max(sm) {
      height: vw(173, 800);
    }
  }

  &__container {
  }

  &__title {
    position: relative;
    z-index: 1;
    margin: 0 0 44px;
    font-size: 161px;
    text-align: center;

    @include max(xxl) {
      margin-bottom: vw(44);
      font-size: vw(161);
    }

    @include max(sm) {
      margin-bottom: vw(154, 800);
      font-size: vw(72, 800);
    }

    span {
      display: block;
      max-width: 800px;
      margin: -28px auto 0;
      font-size: 72px;
      line-height: 1;
      font-weight: 500;
      letter-spacing: 0.1em;
      text-transform: lowercase;

      @include max(xxl) {
        max-width: vw(800);
        margin-top: vw(-28);
        font-size: vw(72);
      }

      @include max(sm) {
        max-width: vw(760, 800);
        margin-top: vw(-8, 800);
        font-size: vw(64, 800);
      }
    }
  }

  &__plate {
    position: relative;
    z-index: 0;
    max-width: 940px;
    margin: 0 auto 22px;
    padding: 59px 50px 58px 52px;

    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: $blue-02;
    letter-spacing: 0.1em;

    @include max(xxl) {
      max-width: vw(940);
      margin-bottom: vw(22);
      padding: vw(59) vw(50) vw(58) vw(52);
      font-size: vw(21);
      line-height: vw(28);
    }

    @include max(sm) {
      max-width: vw(600, 800);
      margin-bottom: vw(-114, 800);
      padding: vw(43, 800) vw(20, 800) vw(94, 800) vw(30, 800);
      font-size: vw(21, 800);
      line-height: vw(28, 800);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background-color: $green-b6;
      pointer-events: none;

      @include max(xxl) {
        border-radius: vw(15);
      }

      @include max(sm) {
        border-radius: vw(15, 800);
      }
    }

    &-text {
      position: relative;
      z-index: 2;

      @include max(sm) {
        br {
          display: none;
        }
      }
    }

    p:last-of-type {
      margin-top: 27px;

      @include max(xxl) {
        margin-top: vw(27);
      }

      @include max(sm) {
        margin-top: vw(27, 800);
      }
    }

    &-plant {
      position: absolute;
      z-index: -1;
      background-repeat: no-repeat;
      background-size: 100% auto;

      &--one {
        top: -132px;
        left: -387px;
        width: 650px;
        height: 636px;
        background-image: url("../images/home/plant-1.svg");

        @include max(xxl) {
          top: vw(-132);
          left: vw(-387);
          width: vw(650);
          height: vw(636);
        }

        @include max(sm) {
          top: vw(286, 800);
          left: vw(-106, 800);
          width: vw(395, 800);
          height: vw(386, 800);
        }
      }

      &--two {
        top: -427px;
        left: -389px;
        width: 726px;
        height: 656px;
        background-image: url("../images/home/plant-2.svg");

        @include max(xxl) {
          top: vw(-427);
          left: vw(-389);
          width: vw(726);
          height: vw(656);
        }

        @include max(sm) {
          top: vw(-127, 800);
          left: vw(-157, 800);
          width: vw(438, 800);
          height: vw(386, 800);
        }
      }

      &--three {
        top: -470px;
        left: 108px;
        width: 574px;
        height: 624px;
        background-image: url("../images/home/plant-3.svg");

        @include max(xxl) {
          top: vw(-470);
          left: vw(108);
          width: vw(574);
          height: vw(624);
        }

        @include max(sm) {
          top: vw(-128, 800);
          left: vw(92, 800);
          width: vw(348, 800);
          height: vw(379, 800);
        }
      }

      &--four {
        z-index: 1;
        top: -388px;
        left: 656px;
        width: 518px;
        height: 637px;
        background-image: url("../images/home/plant-4.svg");

        @include max(xxl) {
          top: vw(-388);
          left: vw(656);
          width: vw(518);
          height: vw(637);
        }

        @include max(sm) {
          z-index: -1;
          top: vw(-112, 800);
          left: vw(407, 800);
          width: vw(255, 800);
          height: vw(313, 800);
        }
      }

      &--five {
        top: -112px;
        left: 517px;
        width: 688px;
        height: 701px;
        background-image: url("../images/home/plant-5.svg");

        @include max(xxl) {
          top: vw(-112);
          left: vw(517);
          width: vw(688);
          height: vw(701);
        }

        @include max(sm) {
          top: vw(324, 800);
          left: vw(356, 800);
          width: vw(336, 800);
          height: vw(342, 800);
        }
      }
    }
  }

  &__menu {
    position: relative;
    left: -30px;
    z-index: 1;
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    //transform: translateX(-30px);

    @include max(xxl) {
      max-width: vw(800);
      left: vw(-30);
    }

    @include max(sm) {
      max-width: none;
      width: vw(760, 800);
      transform: translateX(#{vw(-21, 800)});
    }

    &-item {
      position: relative;
      display: block;
      width: 123px;
      height: 379px;
      margin: 0 16px;
      align-self: flex-end;

      font-size: 72px;
      color: $blue;
      letter-spacing: 0.1em;
      font-weight: 900;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;

      background-repeat: no-repeat;
      background-size: auto 100%;

      transition: color 0.3s ease, transform 0.3s ease;

      filter: drop-shadow(2px 2px 29px rgba(0, 0, 0, 0.09));

      @include max(xxl) {
        width: vw(123);
        height: vw(379);
        margin: 0 vw(16);
        font-size: vw(72);
        filter: drop-shadow(#{vw(2)} #{vw(2)} #{vw(29)} rgba(0, 0, 0, 0.09));
      }

      @include max(sm) {
        width: vw(123, 800);
        height: vw(379, 800);
        margin: 0 vw(16, 800);
        font-size: vw(72, 800);
        filter: drop-shadow(
          #{vw(2, 800)} #{vw(2, 800)} #{vw(29, 800)} rgba(0, 0, 0, 0.09)
        );
      }

      @include hover {
        color: $green-b6;
        transform: scale(1.05);
      }

      &:active {
        span {
          opacity: 0.7;
        }
      }

      span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(-90deg);
      }

      &--bad {
        letter-spacing: 0.15em;
        background-image: url("../images/home/vial--bad.png");

        span {
          left: 55%;
          top: 58%;
          width: 212px;

          @include max(xxl) {
            width: vw(212);
          }

          @include max(sm) {
            width: vw(212, 800);
          }
        }
      }

      &--ctm {
        letter-spacing: 0.15em;
        background-image: url("../images/home/vial--ctm.png");

        span {
          left: 51%;
          top: 59%;
          width: 212px;

          @include max(xxl) {
            width: vw(212);
          }

          @include max(sm) {
            width: vw(212, 800);
          }
        }
      }

      &--homeopaty {
        font-size: 36px;
        background-image: url("../images/home/vial--homeopaty.png");

        @include max(xxl) {
          font-size: vw(36);
        }

        @include max(sm) {
          font-size: vw(36, 800);
        }

        span {
          top: 58.5%;
          width: 283px;

          @include max(xxl) {
            width: vw(283);
          }

          @include max(sm) {
            left: 56%;
            width: vw(283, 800);
          }
        }
      }

      &--med {
        height: 444px;
        font-size: 24px;
        line-height: 1.2;
        background-image: url("../images/home/vial--med.png");

        @include max(xxl) {
          height: vw(444);
          font-size: vw(24);
        }

        @include max(sm) {
          height: vw(444, 800);
          font-size: vw(24, 800);
        }

        span {
          top: 55%;
          width: 352px;

          @include max(xxl) {
            width: vw(352);
          }

          @include max(sm) {
            left: 60%;
            width: vw(352, 800);
          }
        }
      }

      &--phytology {
        font-size: 28px;
        white-space: nowrap;
        background-image: url("../images/home/vial--phytology.png");

        @include max(xxl) {
          font-size: vw(28);
        }

        @include max(sm) {
          font-size: vw(28, 800);
        }

        span {
          left: 46%;
          top: 58%;
          width: 283px;

          @include max(xxl) {
            width: vw(283);
          }

          @include max(sm) {
            left: 55%;
            width: vw(283, 800);
          }
        }
      }
    }
  }
}
