.hero {
  position: relative;
  padding-top: 179px;
  padding-bottom: 63px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 173px;
    background: linear-gradient(180deg, #efefef 0%, transparent 100%);
    pointer-events: none;
  }

  &__container {
  }

  &__title {
    position: relative;
    z-index: 1;
    margin: 0 0 44px;
    font-size: 161px;
    text-align: center;

    span {
      display: block;
      max-width: 800px;
      margin: -28px auto 0;
      font-size: 72px;
      line-height: 1;
      font-weight: 500;
      letter-spacing: 0.1em;
      text-transform: lowercase;
    }
  }

  &__plate {
    position: relative;
    z-index: 0;
    max-width: 940px;
    margin: 0 auto 22px;
    padding: 59px 50px 58px 52px;

    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: $blue-02;
    letter-spacing: 0.1em;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background-color: $green-b6;
      pointer-events: none;
    }

    &-text {
      position: relative;
      z-index: 2;
    }

    p:last-of-type {
      margin-top: 27px;
    }

    &-plant {
      position: absolute;
      z-index: -1;
      background-repeat: no-repeat;
      background-size: 100% auto;

      &--one {
        top: -132px;
        left: -387px;
        width: 650px;
        height: 636px;
        background-image: url("../images/home/plant-1.svg");
      }

      &--two {
        top: -427px;
        left: -389px;
        width: 726px;
        height: 656px;
        background-image: url("../images/home/plant-2.svg");
      }

      &--three {
        top: -470px;
        left: 108px;
        width: 574px;
        height: 624px;
        background-image: url("../images/home/plant-3.svg");
      }

      &--four {
        z-index: 1;
        top: -388px;
        left: 656px;
        width: 518px;
        height: 637px;
        background-image: url("../images/home/plant-4.svg");
      }

      &--five {
        top: -112px;
        left: 517px;
        width: 688px;
        height: 701px;
        background-image: url("../images/home/plant-5.svg");
      }
    }
  }

  &__menu {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    transform: translateX(-30px);

    &-item {
      position: relative;
      display: block;
      width: 123px;
      height: 379px;
      margin: 0 16px;
      align-self: flex-end;

      font-size: 72px;
      color: $blue;
      letter-spacing: 0.1em;
      font-weight: 900;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;

      background-repeat: no-repeat;
      background-size: auto 100%;

      filter: drop-shadow(2px 2px 29px rgba(0, 0, 0, 0.09));

      span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(-90deg);
      }

      &--bad {
        letter-spacing: 0.15em;
        background-image: url("../images/home/vial--bad.png");

        span {
          left: 55%;
          top: 58%;
          width: 212px;
        }
      }

      &--ctm {
        letter-spacing: 0.15em;
        background-image: url("../images/home/vial--ctm.png");

        span {
          left: 51%;
          top: 59%;
          width: 212px;
        }
      }

      &--homeopaty {
        font-size: 36px;
        background-image: url("../images/home/vial--homeopaty.png");

        span {
          top: 58.5%;
          width: 283px;
        }
      }

      &--med {
        height: 444px;
        font-size: 24px;
        line-height: 1.2;
        background-image: url("../images/home/vial--med.png");

        span {
          top: 55%;
          width: 352px;
        }
      }

      &--phytology {
        font-size: 28px;
        white-space: nowrap;
        background-image: url("../images/home/vial--phytology.png");

        span {
          left: 46%;
          top: 58%;
          width: 283px;
        }
      }
    }
  }
}
