.info-section {
  $self: &;

  &--reverse {
    #{$self}__container {
      flex-direction: row-reverse;
    }

    #{$self}__main {
      padding-left: 0;
    }

    #{$self}__title {
      span {
        padding-left: 24px;
        border-radius: 15px 0 0 15px;

        @include max(xxl) {
          padding-left: vw(24);
          border-radius: vw(15) 0 0 vw(15);
        }

        &::before {
          transform: translateX(99%);
        }
      }
    }
  }

  &--bg {
  }

  &--pt {
  }

  &--custom-1 {
    #{$self}__main {
      padding-top: 116px;

      @include max(xxl) {
        padding-top: vw(116);
      }
    }

    #{$self}__text {
      width: 102%;
      transform: translateX(10px);

      @include max(xxl) {
        transform: translateX(#{vw(10)});
      }
    }

    #{$self}__image {
      width: 576px;

      @include max(xxl) {
        width: vw(576);
      }
    }
  }

  &--custom-2 {
    margin-bottom: 73px;

    @include max(xxl) {
      margin-bottom: vw(73);
    }

    #{$self}__title {
      margin-bottom: 15px;

      @include max(xxl) {
        margin-bottom: vw(15);
      }

      span + span {
        &::before {
          transform: translateX(17%);
        }
      }
    }

    #{$self}__text {
      padding-left: 25px;
      max-width: 815px;

      @include max(xxl) {
        max-width: vw(815);
        padding-left: vw(25);
      }
    }

    #{$self}__image {
      width: 539px;
      margin-right: 35px;
      transform: translateX(-31px) translateY(72px);

      @include max(xxl) {
        width: vw(539);
        margin-right: vw(35);
        transform: translateX(#{vw(-31)}) translateY(#{vw(72)});
      }
    }
  }

  &--custom-3 {
    #{$self}__main {
      &::after {
        content: "";
        display: block;
        width: 230px;
        height: 120px;
        margin: 55px auto 0;
        background-repeat: no-repeat;
        background-image: url("../images/home/info-section-bg.svg");

        transform: translateX(-154px);

        @include max(xxl) {
          width: vw(230);
          height: vw(120);
          margin-top: vw(55);
          transform: translateX(#{vw(-154)});
        }
      }
    }

    #{$self}__title {
      span {
        padding-top: 18px;

        @include max(xxl) {
          padding-top: vw(18);
        }

        &:first-child {
          padding-right: 39px;

          @include max(xxl) {
            padding-right: vw(39);
          }
        }
      }

      span + span {
        margin-top: -24px;
        padding-top: 15px;
        padding-bottom: 10px;

        @include max(xxl) {
          margin-top: vw(-24);
          padding-top: vw(15);
          padding-bottom: vw(10);
        }
      }
    }

    #{$self}__text {
      padding-left: 8px;
      max-width: 790px;

      @include max(xxl) {
        max-width: vw(790);
        padding-left: vw(8);
      }
    }

    #{$self}__image {
      width: 496px;
      transform: translateX(-175px) translateY(157px);

      @include max(xxl) {
        width: vw(496);
        transform: translateX(#{vw(-175)}) translateY(#{vw(157)});
      }
    }
  }

  &__container {
    display: flex;
  }

  &__main {
    padding-left: 132px;
    flex-grow: 1;

    @include max(xxl) {
      padding-left: vw(132);
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin: 0 0 24px;

    @include max(xxl) {
      margin-bottom: vw(24);
    }

    span {
      position: relative;
      padding: 11px 20px 14px 0;
      border-radius: 0 15px 15px 0;
      white-space: nowrap;
      background-color: $green-8b;
      align-self: flex-start;

      @include max(xxl) {
        padding: vw(11) vw(20) vw(14) 0;
        border-radius: 0 vw(15) vw(15) 0;
      }

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-99%);
        background-color: $green-8b;
      }
    }

    span + span {
      margin-top: -27px;
      padding-bottom: 6px;

      @include max(xxl) {
        margin-top: vw(-27);
        padding-bottom: vw(6);
      }
    }
  }

  &__text {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: $blue-02;

    @include max(xxl) {
      font-size: vw(24);
      line-height: vw(28);
    }
  }

  &__image {
    flex-shrink: 0;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
