.info {
  $self: &;
  overflow: hidden;
  padding-bottom: 60px;

  @include max(xxl) {
    padding-bottom: vw(60);
  }

  @include max(sm) {
    padding-bottom: vw(60, 800);
  }

  &--ctm {
    padding-top: 117px;

    @include max(xxl) {
      padding-top: vw(117);
    }

    @include max(sm) {
      padding-top: vw(60, 800);
    }
  }

  &--homeopaty {
    padding-top: 119px;

    @include max(xxl) {
      padding-top: vw(119);
    }

    @include max(sm) {
      padding-top: vw(60, 800);
    }
  }

  &--medicament {
    padding-top: 118px;

    @include max(xxl) {
      padding-top: vw(118);
    }

    @include max(sm) {
      padding-top: vw(60, 800);
    }
  }

  .info-section + .info-section {
    margin-top: 50px;

    @include max(xxl) {
      margin-top: vw(50);
    }

    @include max(sm) {
      margin-top: vw(34, 800);
    }
  }

  .info-banner {
    margin-top: 66px;
    margin-bottom: 66px;

    @include max(xxl) {
      margin: vw(66) 0;
    }

    @include max(sm) {
      margin: vw(66, 800) 0;
    }
  }
}
