section.bad#bad
  .bad__container.container 
    h2.bad__title.title(data-aos="fade-up") БАД

    div(data-aos="fade-up")
      .bad__plate Не знаем, как у вас, а у нас в редакции все принимают БАДы. Вот прямо сейчас в наших аптечках есть: БАДы от стресса, от усталости, от ПМС, от сезонной хандры, от частых простуд и от цистита. Они такие разные эти БАДы, а их баночки такие красивые и привлекательные. И назначать их можно себе самим: травки же, не навредишь. Или все-таки нет?
    

    .bad__text(data-aos="fade-up") Главная особенность БАДов состоит в том, что они не являются лекарственными средствами для лечения заболеваний (если на упаковке БАДа написано, что он лечит, это может преследоваться по закону).
  
  //-.bad__bg