section.hero 
  .hero__container.container 
    h1.hero__title.title
      div(data-aos="fade-up", data-aos-delay="100") Фитология: 
      span(data-aos="fade-up", data-aos-delay="200") гид по растениям вашей аптечки
    
    .hero__plate(data-aos="fade-up", data-aos-delay="300")
      .hero__plate-text
        p «Ты травки попей, и полегчает!», - о чем на самом деле этот популярный совет? О том, чтобы попить настой из сухих трав или <br>о&nbsp;том,&nbsp;чтобы включить в свой рацион БАД на основе растений <br>(как вчера в Инстаграме кто-то в очередной раз советовал)? <br>О лекарственном препарате растительного происхождения или, может, вообще о гомеопатии? Мы в редакции Woman.ru очень любим все натуральное, и чтобы понять, что именно мы приобретаем, <br>когда покупаем «травки», мы решили разобрать свои аптечки. <br>И на этом пути нас ожидало немало удивительных открытий.
        p Спешим поделиться!

      .hero__plate-plant.hero__plate-plant--one(data-aos="fade-left", data-aos-duration="1000", data-aos-delay="400")
      .hero__plate-plant.hero__plate-plant--two(data-aos="fade-up-left", data-aos-duration="1000", data-aos-delay="400")
      .hero__plate-plant.hero__plate-plant--three(data-aos="fade-up", data-aos-duration="1000", data-aos-delay="400")
      .hero__plate-plant.hero__plate-plant--four(data-aos="fade-up-right", data-aos-duration="1000", data-aos-delay="400")
      .hero__plate-plant.hero__plate-plant--five(data-aos="fade-right", data-aos-duration="1000", data-aos-delay="400")

    .hero__menu(data-aos="fade-up")
      each item, index in MENU
        if index !== 0
          a.hero__menu-item(class="hero__menu-item--" + item.mod, href= item.url)
            span!= item.text
