html {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: $blue-02;

  @include max(xxl) {
    font-size: vw(24);
    line-height: vw(28);
  }

  @include max(sm) {
    font-size: vw(24, 800);
    line-height: vw(28, 800);
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $mainFont;
  color: $textMainColor;

  background-color: $bg;

  @include max(sm) {
    background-color: $white;
  }
}

.container {
  width: 100%;
  max-width: 1510px;
  padding: 0 15px;
  margin: 0 auto;

  @include max(xxl) {
    max-width: vw(1510);
    padding: 0 vw(15);
  }

  @include max(sm) {
    max-width: none;
    padding: 0 vw(40, 800);
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.main {
  //padding-top: 167px;
  flex-grow: 1;
}

.overlay {
  position: fixed;
  z-index: 102;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000000, 0.5);
  cursor: pointer;
}
