section.inner-hero.inner-hero--homeopaty(data-aos="fade-in")
  .inner-hero__container.container 
    h1.inner-hero__title.title(data-aos="fade-up", data-aos-delay="200") Гомеопатия 
    div(data-aos="fade-up", data-aos-delay="300")
      .inner-hero__plate Гомеопатией регулярно лечатся три сотрудницы Woman.ru. А вы, кстати, знали, что это вообще не травки? О, сколько же открытий приготовили нам наши аптечки!