section.inner-hero.inner-hero--homeopaty 
  .inner-hero__container.container 
    h1.inner-hero__title.title Гомеопатия 
    .inner-hero__plate Гомеопатией регулярно лечатся три сотрудницы Woman.ru. А вы, кстати, знали, что это вообще не травки? О, сколько же открытий приготовили нам наши аптечки!