.info.info--medicament
  each item, index in MEDICAMENT_INFO
    if index < 2
      +info-section(item)

  section.info-banner
    .info-banner__container.container 
      h2.info-banner__title За это открытие Ту Юю получила Нобелевскую премии по медицине.

      .info-banner__text Однако опыты по выделению активного действующего вещества из растений начались задолго до&nbsp;нее. В Европе этим на протяжении без малого ста лет занимается компания «Бионорика», головной офис которой находится в Германии. Ежегодно сотрудники этой компании описывают тысячи новых активных веществ выделенных из сотен видов растений и создают лекарственные препараты, комбинируя целебные свойства растений, фитомедицину, последние достижения науки и немецкую инженерию. Такой способ работы с растительным сырьем получил название фитониринг.

  +info-section(MEDICAMENT_INFO[2])