section.inner-hero.inner-hero--medicament(data-aos="fade-in")
  .inner-hero__container.container 
    h1.inner-hero__title.title(data-aos="fade-up", data-aos-delay="200") Лекарственный препарат на основе растительного сырья 
    div(data-aos="fade-up", data-aos-delay="300")
      .inner-hero__plate Лекарственных препаратов растительного происхождения в аптечках редакции Woman.ru оказалось меньше всего. Что и понятно: это же лекарства, с ними надо быть поосторожнее, чем с БАДами (теперь мы знаем, что это ошибка), да и назначить самим себе не получится (а вот это верно и не только по отношению к лекарствам).