section.inner-hero.inner-hero--ctm 
  .inner-hero__container.container 
    h1.inner-hero__title.title СТМ
    .inner-hero__plate Нам нравится эта аббревиатура: вот как раз вчера перед юбилеем коллеги ходили в известный сетевой гипермаркет тортик покупать. Выбрали собственную торговую марку этого гипермаркета и не пожалели: вкусно и недорого. Наверное, с&nbsp;лекарствами и БАДами тоже так! Или не совсем?