-
  const URLS = {
    home: 'home.html',
    ctm: 'ctm.html',
    homeopaty: 'homeopaty.html',
    medicament: 'medicament.html',
    phytology: 'phytology.html',
    postcard: 'postcard.html'
  };

  const MENU = [
    {text: 'Главная', url: URLS.home, current: 1, mod: ''},
    {text: 'БАД', url: URLS.home + '#bad', current: 1.1, mod: 'bad'},
    {text: 'CTM', url: URLS.ctm, current: 2, mod: 'ctm'},
    {text: 'Гомеопатия', url: URLS.homeopaty, current: 3, mod: 'homeopaty'},
    {text: 'Лекарственный препарат на&nbsp;основе растительного сырья ', url: URLS.medicament, current: 4, mod: 'med'},
    {text: 'Атлас растений', url: URLS.phytology, current: 5, mod: 'phytology'}
  ];

  const HOME_INFO = [
    {
      title: '<span>Кто придумал?</span>',
      text: 'Первые прототипы современных БАДов были созданы в 1920-е годы американским химиком Карлом Ренборгом, который попытался получить препарат на основе люцерны, водяного перца и петрушки. Получилось, и совсем скоро Ренборг основал собственную компанию. К 1980-м годам популярность БАДов стала общемировой, а количество производителей добавок исчислялось уже сотнями. К тому времени в СМИ все чаще начали появляться материалы об обеднении почв и «пустоте» калорий, которые употребляет современный человек, и полезная природная добавка казалась хорошим способом сделать рацион более полезным.',
      img: {path: 'home/info-1.svg', w: '567', h: '638'},
      mod: 'info-section--pt info-section--custom-1'
    },
    {
      title: '<span>Что мы делаем </span><span>не так?</span>',
      text: 'Побочным эффектом популярности БАДов стала традиция использовать их не по назначению – то есть не как добавку, обогащающую рацион веществами и пищевыми соединениями, задача которой оптимизировать обмен веществ и улучшать состояние микрофлоры кишечника, а как лекарство от разных болезней. Многие, кстати, продолжают делать это и сегодня, что не лучшим образом сказывается на репутации БАДов, которые лечить вообще не должны. Например, многие знают, что от цистита можно принимать клюквенные таблетки, и многие назначают их себе сами. Однако цистит – проблема серьезная, требующая профессиональной диагностики и назначений, а не рекомендаций кассовых шелфтокеров. И если в результате приема самостоятельно назначенного БАДа заболевание перейдет в более серьезную стадию – это будет не проблема клюквенных таблеток, а проблема человека, который занимался самолечением. ',
      img: {path: 'home/info-2.svg', w: '539', h: '519'},
      mod: 'info-section--reverse info-section--custom-2'
    },
    {
      title: '<span>А что там </span><span>с&nbsp;эффективностью?</span>',
      text: '<p>Есть и еще один момент, который в случае с БАДами несколько настораживает. </p><p>Дело в том, что контроль производства сырья, которое используется для получения БАДов, никак не регламентируется. Где и как оно собрано? В какое время? Каким способом обработано?  На все эти вопросы в случае с биологически-активными добавками получить ответ практически невозможно. Для конечного потребителя это означает отсутствие определенности. То есть если повезет, средство может работать очень хорошо, если не повезет, стать бесполезным малоэффективным.</p>',
      img: {path: 'home/info-3.svg', w: '496', h: '452'},
      mod: 'info-section--bg info-section--custom-3'
    }
  ];

  const CTM_INFO = [
    {
      title: '<span>Итак, что же </span><span>это такое?</span>',
      text: 'СТМ – это бренд, владельцем которого является реализующая структура. То есть это не столько определение препарата, сколько аббревиатура маркетингового инструмента. ',
      img: {path: 'ctm/info-1.svg', w: '716', h: '713'},
      mod: 'info-section--custom-ctm-1'
    },
    {
      title: '<span>Кто придумал?</span>',
      text: 'Маркетологи. В фармацевтический бизнес идея собственных торговых марок пришла из других сфер торговли. С точки зрения коммерции вещь довольно удобная: ведь если СТМ принадлежит узнаваемой торговой сети, это автоматически добавляет доверия соответствующему фармацевтическому бренду',
      img: {path: 'ctm/info-2.svg', w: '354', h: '693'},
      mod: 'info-section--reverse info-section--custom-ctm-2'
    },
    {
      title: '<span>А что там </span><span>с&nbsp;эффективностью?</span>',
      text: 'БАДы и лекарства, которые продаются как СТМ, чаще всего не сертифицированы, то есть даже собственного производства обычно не имеют и  изготавливаются где-то на стороне. В общем, проследить, откуда ноги растут в данном конкретном препарате и есть ли в нем хоть какая-то польза в случае с СТМ еще сложнее, чем с сертифицированным БАДом.',
      img: {path: 'ctm/info-3.svg', w: '520', h: '457'},
      mod: 'info-section--custom-ctm-3'
    }
  ];

  const HOMEOPATY_INFO = [
    {
      title: '<span>Итак, что же </span><span>это такое?</span>',
      text: 'Строго говоря, к растениям гомеопатия имеет весьма косвенное отношение, но раз уж ее так часто путают с фитотерапией, сказать о ней пару слов крайне необходимо. Гомеопатические препараты – это сильно разведённые вещества (настолько сильно, что это, скорее, информация о веществе, чем само вещество), действие которых может вызвать у здоровых людей симптомы, подобные симптомам болезни пациента. Кроме растений, в качестве сырья для гомеопатического препарата могут использоваться минералы, продукты животного происхождения и некоторые синтетические вещества.',
      img: {path: 'homeopaty/info-1.svg', w: '431', h: '440'},
      mod: 'info-section--custom-homeopaty-1'
    },
    {
      title: '<span>Кто придумал?</span>',
      text: 'Немецкий медик Самуэль Ганеман. В 1776 году во время проведения экспериментов на себе Ганеман заметил, что после приема хинина у него возникают симптомы, похожие на симптомы больных малярией. После проведения еще ряда подобных тестов был выведен главный принцип гомеопатии – подобное лечится подобным.',
      img: {path: 'homeopaty/info-2.svg', w: '212', h: '463'},
      mod: 'info-section--reverse info-section--custom-homeopaty-2'
    },
    {
      title: '<span>А что там </span><span>с&nbsp;эффективностью?</span>',
      text: 'Хотя в России для гомеопатических лекарств (то есть препаратов, которые продаются в обычных аптеках с надписью «гомеопатическое лекарство») процедура государственной регистрации подобна той, которую проходят все остальные лекарственные средства (хотя она и упрощенная), вопросов к этой области достаточно много. Прежде всего, его трудно отнести к доказательной медицине. Одни специалисты полностью отрицают пользу гомеопатии и относят ее к «лженауке», другие активно применяют ее в своей практике. Единственное, что можно сказать: серьезные заболевания (например, сильные инфекции, аутоиммунные проблемы и тд) гомеопатия вряд ли «возьмет».  Ну, и проверить действительно ли в основе гомеопатического средства то или иное указанное на баночке вещество, обычному потребителю в принципе невозможно: ведь речь идет не более чем об информации.',
      img: {path: 'homeopaty/info-3.svg', w: '424', h: '322'},
      mod: 'info-section--custom-homeopaty-3'
    }
  ];

  const MEDICAMENT_INFO = [
    {
      title: '<span>Итак, что же </span><span>это такое?</span>',
      text: 'Главное отличие растительного лекарственного препарата (полученного, допустим, из того же сырья, что и БАД, СТМ или даже гомеопатическое средство), от продуктов других форматов – это намного более сложная процедура его создания, производства и регистрации. Для того, чтобы на упаковке появилась надпись «лекарственный препарат», продукт должен пройти ряд серьёзных клинических исследований по эффективности и безопасности, по итогам которого он будет зарегистрирован Конечно, среди огромного количества лекарственных фитопрепаратов есть более эффективные и менее эффективные, их стоимость и качество зачастую сильно различаются. Ясно одно: безопасность, а главное- эффективность лекарственного средства будет в разы выше, чем безопасность аналогичного БАДа, СТМ или гомеопатического препарата..',
      img: {path: 'medicament/info-1.svg', w: '524', h: '638'},
      mod: 'info-section--custom-medicament-1'
    },
    {
      title: '<span>Кто придумал?</span>',
      text: 'В 2015 году китайская исследовательница Ту Юю обнаружила в старинных манускриптах упоминание о полыни однолетней и смогла выделить из растения лекарственное вещество артимезин, ставшее важным средством для борьбы с малярией.',
      img: {path: 'medicament/info-2.svg', w: '449', h: '627'},
      mod: 'info-section--reverse info-section--custom-medicament-2'
    },
    {
      title: '<span>А что там </span><span>с&nbsp;эффективностью?</span>',
      text: '<p>По статистике, каждый второй лекарственный препарат, который продается в аптеках имеет растительное происхождение. Это объяснимо. За годы существования растения покорили все среды обитания на нашей Планете и научились бороться с бактериями, грибами и вирусами гораздо лучше, чем человек. Этот процесс продолжается, и задача лишь научиться правильно пользоваться инновационными инструментами, которые создает сама природа.</p><p>Однако найти лекарственное растение для лечения заболевания – это только полдела. После этого нужно выявить действующее вещество. Чем оно лучше, чем многокомпонентная смесь? <br>Все очень просто: в составе лекарственного препарата, как правило, одно вещество, его действие давно и хорошо изучено, его легко проанализировать. Сухая смесь или БАД – это многокомпонентная смесь с низкой концентрацией отдельных компонентов, многие из которых зачастую не идентифицированы и действие которых проанализировать намного сложнее.</p>',
      text2: 'После того, как вещество найдено, нужно найти правильный способ его экстракции, изготовить лекарственный препарат, а потом провести научные исследования и доказать клиническую эффективность для человека. В «Бионорика» экстракция действующих веществ проводится на самой современной экстракционной установке в мире, что во многом объясняет высокое «немецкое» качество препаратов этой компании.',
      img: {path: 'medicament/info-3.svg', w: '352', h: '694'},
      mod: 'info-section--custom-medicament-3'
    }
  ];

  const ATLAS_ITEMS = [
    {
      img: {
        path: '1.svg',
        w: '240',
        h: '466'
      },
      title: 'Первоцвет',
      text: 'Краснокнижное растение, которое, тем не менее, можно нередко встретить на приусадебных участках. Чрезвычайно полезно для лечения простуд и воспалений придаточных пазух носа, при острых и хронических бронхитах. Экстракт цветков содержится в препарате для лечения воспалений пазух носа Синупрет, экстракты корневища – в средстве от бронхита Бронхипрет. ',
      mod: 'primrose'
    },
    {
      img: {
        path: '2.svg',
        w: '284',
        h: '491'
      },
      title: 'Хвощ',
      text: 'Oдно из самых древнейших растений на земле, существовавшее еще во времена динозавров наряду с папоротниками. В хвоще много кремниевой кислоты, которая способствует обмену веществ и лучшему кровообращению. А его молодые побеги – это настоящий кладезь сапонинов и флавоноидов с противомикробным и противовоспалительным действием. Последние включены в состав препарата Тонзилгон, применяющемуся для борьбы с тонзиллитами разной степени тяжести. ',
      mod: 'horsetail'
    },
    {
      img: {
        path: '3.svg',
        w: '172',
        h: '493'
      },
      title: 'Золототысячник обыкновенный',
      text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, aspernatur corrupti consequatur, minus eum facilis illum laudantium doloremque, deleniti hic obcaecati nam. Exercitationem dolores iure placeat sed cupiditate ea tempora.',
      mod: 'golden-thousandth'
    },
    {
      img: {
        path: '4.svg',
        w: '254',
        h: '473'
      },
      title: 'Ромашка лекарственная',
      text: 'Самое полезное в этом известном всем растении – это цветки: именно в них содержатся ценные эфирные масла, слизь и флавоноиды. Ромашка оказывает мощное противомикробное действие, благодаря чему ее издревна используют для лечения заболеваний горла. Входит в состав препарата Тонзилгон. ',
      mod: 'chamomile'
    },
    {
      img: {
        path: '5.svg',
        w: '475',
        h: '453'
      },
      title: 'Черная бузина',
      text: 'Этот распространенный по всей Европе кустарник может достигать в высоту 8 метров, а его ягоды широко используются для приготовления кондитерских изделий. Впрочем, куда полезнее ягод белые душистые цветы бузины – знаменитое потогонное и противосудорожное средство. В современной фитотерапии цветки бузины чаще всего используются для разжижения мокроты. В составе препарата Синупрет активные вещества цветков  в сочетании с экстрактами других четырех растений хорошо проявляют себя при лечении хронических воспалений придаточных пазух носа. ',
      mod: 'elderberry'
    },
    {
      img: {
        path: '6.svg',
        w: '246',
        h: '499'
      },
      title: 'Вербена',
      text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, aspernatur corrupti consequatur, minus eum facilis illum laudantium doloremque, deleniti hic obcaecati nam. Exercitationem dolores iure placeat sed cupiditate ea tempora.',
      mod: 'verbena'
    },
    {
      img: {
        path: '7.svg',
        w: '250',
        h: '454'
      },
      title: 'Щавель',
      text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, aspernatur corrupti consequatur, minus eum facilis illum laudantium doloremque, deleniti hic obcaecati nam. Exercitationem dolores iure placeat sed cupiditate ea tempora.',
      mod: 'sorrel'
    },
    {
      img: {
        path: '8.svg',
        w: '306',
        h: '444'
      },
      title: 'Лилия тигровая',
      text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, aspernatur corrupti consequatur, minus eum facilis illum laudantium doloremque, deleniti hic obcaecati nam. Exercitationem dolores iure placeat sed cupiditate ea tempora.',
      mod: 'tiger-lily'
    },
    {
      img: {
        path: '9.svg',
        w: '308',
        h: '507'
      },
      title: 'Одуванчик',
      text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, aspernatur corrupti consequatur, minus eum facilis illum laudantium doloremque, deleniti hic obcaecati nam. Exercitationem dolores iure placeat sed cupiditate ea tempora.',
      mod: 'dandelion'
    },
    {
      img: {
        path: '10.svg',
        w: '247',
        h: '358'
      },
      title: 'Тысячелистник',
      text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, aspernatur corrupti consequatur, minus eum facilis illum laudantium doloremque, deleniti hic obcaecati nam. Exercitationem dolores iure placeat sed cupiditate ea tempora.',
      mod: 'yarrow'
    },
    {
      img: {
        path: '11.svg',
        w: '282',
        h: '350'
      },
      title: 'Розмарин лекарственный',
      text: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, aspernatur corrupti consequatur, minus eum facilis illum laudantium doloremque, deleniti hic obcaecati nam. Exercitationem dolores iure placeat sed cupiditate ea tempora.',
      mod: 'rosemary'
    }
  ]