-
  const URLS = {
    home: 'home.html',
    ctm: 'ctm.html',
    homeopaty: 'homeopaty.html',
    medicament: 'medicament.html',
    phytology: 'phytology.html',
    postcard: 'postcard.html'
  };

  const MENU = [
    {text: 'Главная', url: URLS.home, current: 1, mod: ''},
    {text: 'БАД', url: URLS.home + '#bad', current: 1.1, mod: 'bad'},
    {text: 'CTM', url: URLS.ctm, current: 2, mod: 'ctm'},
    {text: 'Гомеопатия', url: URLS.homeopaty, current: 3, mod: 'homeopaty'},
    {text: 'Лекарственный препарат на&nbsp;основе растительного сырья ', url: URLS.medicament, current: 4, mod: 'med'},
    {text: 'Атлас растений', url: URLS.phytology, current: 5, mod: 'phytology'}
  ];

  const HOME_INFO = [
    {
      title: '<span>Кто придумал?</span>',
      text: 'Первые прототипы современных БАДов были созданы в 1920-е годы американским химиком Карлом Ренборгом, который попытался получить подобие препарат а на основе люцерны, водяного перца и петрушки. Получилось – и совсем скоро Ренборг основал собственную компанию. К 1980-м популярность БАДов стала общемировой, а количество производителей добавок исчислялось уже сотнями. К тому времени в СМИ все чаще начали появляться материалы об обеднении почв и «пустоте» калорий, которые употребляет современный человек, и полезная природная добавка казалась хорошим способом сделать рацион более полезным.',
      img: {path: 'home/info-1.svg', w: '567', h: '638'},
      mod: 'info-section--pt info-section--custom-1'
    },
    {
      title: '<span>Что мы делаем </span><span>не так?</span>',
      text: 'Побочным эффектом популярности БАДов стала традиция использовать их вместо лекарственных препаратов. Хотя их задача – обогащать рацион полезными веществами и пищевыми соединениями для улучшения обмена веществ и состояния микрофлоры кишечника. Многие, кстати, продолжают бороться с заболеваниями с помощью БАДов и сегодня, что не лучшим образом сказывается на репутации этих препаратов, которые лечить вообще не должны. Например, многие знают, что от цистита можно принимать клюквенные таблетки, и многие назначают их себе сами. Однако цистит – проблема серьезная, требующая профессиональной диагностики и назначений, а не рекомендаций кассовых шелфтокеров. И если в результате приема самостоятельно назначенного БАДа заболевание перейдет в более серьезную стадию, это будет не проблема клюквенных таблеток, а проблема человека, который занимался самолечением.',
      img: {path: 'home/info-2.svg', w: '539', h: '519'},
      mod: 'info-section--reverse info-section--custom-2'
    },
    {
      title: '<span>А что там </span><span>с&nbsp;эффективностью?</span>',
      text: '<p>Есть и еще один момент, который в случае с БАДами несколько настораживает. </p><p>Дело в том, что контроль производства сырья, которое используется для получения БАДов, не регламентируется. Где и как оно собрано? В какое время? Каким способом обработано? На все эти вопросы в случае с биологически активными добавками получить ответ возможно далеко не всегда. Для конечного потребителя это означает отсутствие определенности. То есть если повезет, средство может работать очень хорошо, если не повезет – стать бесполезным, малоэффективным.</p>',
      img: {path: 'home/info-3.svg', w: '496', h: '452'},
      mod: 'info-section--bg info-section--custom-3'
    }
  ];

  const CTM_INFO = [
    {
      title: '<span>Итак, что же </span><span>это такое?</span>',
      text: 'СТМ – это бренд, владельцем которого является реализующая структура. То есть это не столько определение препарата, сколько аббревиатура маркетингового инструмента. ',
      img: {path: 'ctm/info-1.svg', w: '716', h: '713'},
      mod: 'info-section--custom-ctm-1'
    },
    {
      title: '<span>Кто придумал?</span>',
      text: 'Маркетологи. В фармацевтический бизнес идея собственных торговых марок пришла из других сфер торговли. С точки зрения коммерции это очень удобно: если СТМ принадлежит узнаваемой торговой сети, это автоматически добавляет доверия соответствующему фармацевтическому бренду.',
      img: {path: 'ctm/info-2.svg', w: '354', h: '693'},
      mod: 'info-section--reverse info-section--custom-ctm-2'
    },
    {
      title: '<span>А что там </span><span>с&nbsp;эффективностью?</span>',
      text: 'БАДы и лекарства , которые продаются как СТМ, очень часто не имеют собственного производства и изготавливаются где-то на стороне. В общем, проследить, откуда ноги растут в данном конкретном препарате и есть ли в нем хоть какая-то польза в случае с СТМ, еще сложнее, чем с сертифицированным БАДом.',
      img: {path: 'ctm/info-3.svg', w: '520', h: '457'},
      mod: 'info-section--custom-ctm-3'
    }
  ];

  const HOMEOPATY_INFO = [
    {
      title: '<span>Итак, что же </span><span>это такое?</span>',
      text: 'Гомеопатию часто путают с фитотерапией, хотя на самом деле это препараты, работающие по совершенно другому принципу. Классические гомеопатические препараты могут содержать компоненты с высоким разведением веществ (настолько сильно, что это, скорее, информация о веществе, чем само вещество), а могут быть и более концентрированными. В зависимости от этого они могут либо лечить симптомы болезни, либо вызывать у здоровых людей симптомы, подобные симптомам заболевания (лечить подобное подобным). Кроме растений в качестве сырья для гомеопатического препарата могут использоваться минералы, продукты животного происхождения и некоторые синтетические вещества. ',
      img: {path: 'homeopaty/info-1.svg', w: '431', h: '440'},
      mod: 'info-section--custom-homeopaty-1'
    },
    {
      title: '<span>Кто придумал?</span>',
      text: 'Немецкий медик Самуэль Ганеман. В 1776 году во время проведения экспериментов на себе Ганеман заметил, что после приема хинина у него возникают симптомы, похожие на симптомы больных малярией. После проведения еще ряда подобных тестов был выведен главный принцип гомеопатии – подобное лечится подобным. ',
      img: {path: 'homeopaty/info-2.svg', w: '212', h: '463'},
      mod: 'info-section--reverse info-section--custom-homeopaty-2'
    },
    {
      title: '<span>А что там </span><span>с&nbsp;эффективностью?</span>',
      text: 'Хотя в России для гомеопатических лекарств (то есть препаратов, которые продаются в обычных аптеках с надписью «гомеопатическое лекарство») процедура государственной регистрации подобна той, которую проходят все остальные лекарственные средства (хотя она и упрощенная), вопросов к этой области достаточно много. Главная проблема – одновременное сосуществование сразу нескольких школ гомеопатии (есть классическая школа, использующая сильно разведенные препараты зачастую без доказательной базы; есть более современная школа, принципы которой близки к аллопатическим, и ее препаратами можно лечить многие заболевания). Главная сложность – найти квалифицированного специалиста, который мог бы грамотно назначить гомеопатический препарат и корректировать при необходимости ход лечения. При выборе препарата обращайте внимание на проверенные компании, которые хорошо зарекомендовали себя как производители других видов лекарств – это поможет избежать приобретения малоэффективного средства, созданного без доказательной базы. ',
      img: {path: 'homeopaty/info-3.svg', w: '424', h: '322'},
      mod: 'info-section--custom-homeopaty-3'
    }
  ];

  const MEDICAMENT_INFO = [
    {
      title: '<span>Итак, что же </span><span>это такое?</span>',
      text: 'Главное отличие растительного лекарственного препарата от продуктов других форматов – это более сложная процедура его создания, производства и регистрации. Для того чтобы на упаковке появилась надпись «лекарственный препарат», продукт должен пройти ряд серьезных клинических исследований по эффективности и безопасности, по итогам которых он будет зарегистрирован. ',
      img: {path: 'medicament/info-1.svg', w: '524', h: '638'},
      mod: 'info-section--custom-medicament-1'
    },
    {
      title: '<span>Кто придумал?</span>',
      text: 'В 2015 году китайская исследовательница Ту Юю обнаружила в древних манускриптах упоминание о полыни однолетней и смогла выделить из растения лекарственное вещество артемизин, ставшее важным средством для борьбы с малярией. ',
      img: {path: 'medicament/info-2.svg', w: '449', h: '627'},
      mod: 'info-section--reverse info-section--custom-medicament-2'
    },
    {
      title: '<span>А что там </span><span>с&nbsp;эффективностью?</span>',
      text: '<p>По статистике, каждый второй лекарственный препарат, который продается в аптеках, имеет растительное происхождение. Это объяснимо. За годы существования растения покорили все среды обитания на нашей планете и научились бороться с бактериями, грибами и вирусами гораздо лучше, чем человек. Этот процесс продолжается, и задача – лишь научиться правильно пользоваться инновационными инструментами, которые создает сама природа.  <br>В фитологии статус «лекарственное растение» присваивается уже после того, как в растении выявлено действующее вещество. И дальше работа может строиться разными способами. На базе растения может быть создана многокомпонентная сухая смесь или БАД – комбинация с низкой концентрацией отдельных компонентов. Либо это будет лекарственный препарат, в составе которого, как правило, одно вещество, его действие давно и хорошо изучено и легко анализируется. БАД – это многокомпонентная смесь с низкой концентрацией отдельных компонентов, многие из которых зачастую не идентифицированы и действие которых проанализировать намного сложнее. </p>',
      text2: 'После того как вещество получено, нужно найти правильный способ его экстракции, изготовить лекарственный препарат, а потом провести научные исследования и доказать клиническую эффективность для человека. В «Бионорике» экстракция действующих веществ проводится на самой современной экстракционной установке в мире, что во многом объясняет высокое «немецкое» качество препаратов этой компании. ',
      img: {path: 'medicament/info-3.svg', w: '352', h: '694'},
      mod: 'info-section--custom-medicament-3'
    }
  ];

  const ATLAS_ITEMS = [
    {
      img: {
        path: '1.svg',
        w: '240',
        h: '466'
      },
      title: 'Первоцвет',
      text: 'Краснокнижное растение, которое, тем не менее, можно нередко встретить на приусадебных участках. Чрезвычайно полезно для лечения простуд и воспалений придаточных пазух носа, при острых и хронических бронхитах. Экстракт цветков содержится в препарате для лечения заболеваний носа и околоносовых пазух «Синупрет», экстракты корневища – в средстве от бронхита «Бронхипрет». ',
      mod: 'primrose'
    },
    {
      img: {
        path: '2.svg',
        w: '284',
        h: '491'
      },
      title: 'Хвощ',
      text: 'Хвощ – одно из древнейших растений на земле, существовавшее еще во времена динозавров наряду с папоротниками. В хвоще много кремниевой кислоты, которая способствует обмену веществ и лучшему кровообращению. А его молодые побеги – это настоящий кладезь сапонинов и флавоноидов с противомикробным и противовоспалительным действием. Последние включены в состав препарата «Тонзилгон», применяющегося для лечения заболеваний горла и миндалин. ',
      mod: 'horsetail'
    },
    {
      img: {
        path: '3.svg',
        w: '172',
        h: '493'
      },
      title: 'Золототысячник обыкновенный',
      text: 'Золототысячник обыкновенный – редкое лекарственное растение (в Германии защищено Федеральным законом о сохранении видов) с сильным антибактериальным и противовоспалительным действием. Входит в состав препарата «Канефрон», который используется для лечения и профилактики хронических инфекций мочевыводящих путей и мочекаменной болезни.',
      mod: 'golden-thousandth'
    },
    {
      img: {
        path: '4.svg',
        w: '254',
        h: '473'
      },
      title: 'Ромашка лекарственная',
      text: 'Самое полезное в этом известном всем растении – цветки: именно в них содержатся ценные эфирные масла, слизь и флавоноиды. Ромашка оказывает мощное противомикробное действие, благодаря чему ее издревле используют для лечения заболеваний горла. Входит в состав препарата «Тонзилгон». ',
      mod: 'chamomile'
    },
    {
      img: {
        path: '5.svg',
        w: '475',
        h: '453'
      },
      title: 'Черная бузина',
      text: 'Этот распространенный по всей Европе кустарник может достигать в высоту 8 метров, а его ягоды широко используются для приготовления кондитерских изделий. Впрочем, куда полезнее ягод белые душистые цветы бузины – знаменитое потогонное и противосудорожное средство. В современной фитотерапии цветки бузины чаще всего используются для разжижения мокроты. В составе препарата «Синупрет» активные вещества цветков в сочетании с экстрактами других четырех растений хорошо проявляют себя при лечении хронических воспалений придаточных пазух носа.  ',
      mod: 'elderberry'
    },
    {
      img: {
        path: '6.svg',
        w: '246',
        h: '499'
      },
      title: 'Вербена',
      text: 'Многолетнее травянистое растение с белыми и светло-фиолетовыми цветками, собранными в верхушке стебля. Народное название этого растения – святая трава: в древности вербену использовали для магических и религиозных ритуалов. Современная медицина ценит вербену за ее антисекреторные и противовирусные свойства – именно с этой целью она включена в состав растительного препарата «Синупрет» в комбинации с другими растениями, использующимися для лечения заболеваний горла, полости носа и бронхов.',
      mod: 'verbena'
    },
    {
      img: {
        path: '7.svg',
        w: '250',
        h: '454'
      },
      title: 'Щавель',
      text: 'Не растение, а сокровище. О том, что самые вкусные летние щи получаются именно из щавеля, знают все. А знаете ли вы, что это еще и богатый источник витамина С, мощное противовоспалительное и антибактериальное средство? Вместе с цветами первоцвета, корнем горечавки, травой вербены и цветками бузины щавель входит в состав средства «Синупрет», которое назначают для лечения острых риносинуситов. ',
      mod: 'sorrel'
    },
    {
      img: {
        path: '8.svg',
        w: '342',
        h: '519'
      },
      title: 'Витекс',
      text: 'Полное название этого длинного (до 5–6 метров в высоту) прибрежного кустарника – витекс священный. По своим лекарственным свойствам это растение действительно священное – еще Гиппократ рекомендовал смешивать листья этого растения с вином для борьбы с кровотечениями и ускорения отторжения плаценты после родов. В современной медицине его активно применяют для нормализации нарушений менструального цикла, лечения многих гинекологических заболеваний. Высококачественные экстракты витекса входят в состав растительных препаратов «Мастодион» и «Циклодинон», предназначенных для лечения мастопатии и нормализации второй фазы менструального цикла. ',
      mod: 'vitex'
    },
    {
      img: {
        path: '9.svg',
        w: '308',
        h: '507'
      },
      title: 'Одуванчик',
      text: 'Одуванчик применяли для самых разных целей – и для лечения пищеварительных органов, и для очищения крови. Особенно ценны иммуномодулирующие и противовоспалительные свойства одуванчика, которые и стали основанием для включения его в состав «Тонзилгона». ',
      mod: 'dandelion'
    },
    {
      img: {
        path: '10.svg',
        w: '247',
        h: '358'
      },
      title: 'Тысячелистник',
      text: 'Ботаническое название этого растения Achillea происходит от имени греческого героя Ахилла, который якобы использовал его для лечения ран. Современных специалистов в тысячелистнике привлекают противовоспалительные и противомикробные соединения, необходимые для лечения заболеваний горла. ',
      mod: 'yarrow'
    },
    {
      img: {
        path: '11.svg',
        w: '282',
        h: '350'
      },
      title: 'Розмарин лекарственный',
      text: 'Мы все добавляем его в мясо или рыбу, когда готовим, не особенно задумываясь о полезных свойствах этого растения. А они, между прочим, многочисленны. Здесь и противовоспалительное, и противосудорожное, и мочегонное действие. Отыскать розмарин можно в препарате для лечения мочевыводящих путей «Канефрон». ',
      mod: 'rosemary'
    }
  ];

  const PLANTS = [
    {
      img: {
        name: '1',
        w: '254',
        h: '240'
      },
      card: {
        id: '2',
        text: 'Крепкого здоровья и легкого общения!',
        mod: 'chamomile',
        title: 'Ромашка'
      }
    },
    {
      img: {
        name: '2',
        w: '82',
        h: '235'
      },
      card: {
        id: '4',
        text: 'Крепкого здоровья и прекрасного самочувствия!',
        mod: 'dandelion',
        title: 'Одуванчик'
      }
    },
    {
      img: {
        name: '3',
        w: '124',
        h: '241'
      },
      card: {
        id: '1',
        text: 'Крепкого здоровья и свободного дыхания!',
        mod: 'primrose',
        title: 'Первоцвет'
      }
    },
    {
      img: {
        name: '4',
        w: '258',
        h: '247'
      },
      card: {
        id: '6',
        text: 'Крепкого здоровья и женской привлекательности!',
        mod: 'black-elderberry',
        title: 'Черная бузина'
      }
    },
    {
      img: {
        name: '5',
        w: '192',
        h: '239'
      },
      card: {
        id: '3',
        text: 'Крепкого здоровья и быстрого восстановления после болезни!',
        mod: 'rosemary',
        title: 'Розмарин'
      }
    },
    {
      img: {
        name: '6',
        w: '129',
        h: '237'
      },
      card: {
        id: '5',
        text: 'Крепкого здоровья и&nbsp;устойчивого иммунитета!',
        mod: 'verbena',
        title: 'Вербена'
      }
    }
  ]