-
  const URLS = {
    home: 'home.html',
    stm: 'stm.html',
    homeopathy: 'homeopathy.html',
    medicament: 'medicament.html',
    phytology: 'phytology.html'
  };

  const MENU = [
    {text: 'Главная', url: URLS.home, current: 1, mod: ''},
    {text: 'БАД', url: URLS.home + '#bad', current: 1.1, mod: 'bad'},
    {text: 'CTM', url: URLS.stm, current: 2, mod: 'ctm'},
    {text: 'Гомеопатия', url: URLS.homeopathy, current: 3, mod: 'homeopaty'},
    {text: 'Лекарственный препарат на&nbsp;основе растительного сырья ', url: URLS.medicament, current: 4, mod: 'med'},
    {text: 'Атлас растений', url: URLS.phytology, current: 5, mod: 'phytology'}
  ];

  const HOME_INFO = [
    {
      title: '<span>Кто придумал?</span>',
      text: 'Первые прототипы современных БАДов были созданы в 1920-е годы американским химиком Карлом Ренборгом, который попытался получить препарат на основе люцерны, водяного перца и петрушки. Получилось, и совсем скоро Ренборг основал собственную компанию. К 1980-м годам популярность БАДов стала общемировой, а количество производителей добавок исчислялось уже сотнями. К тому времени в СМИ все чаще начали появляться материалы об обеднении почв и «пустоте» калорий, которые употребляет современный человек, и полезная природная добавка казалась хорошим способом сделать рацион более полезным.',
      img: {path: 'home/info-1.svg', w: '567', h: '638'},
      mod: 'info-section--pt info-section--custom-1'
    },
    {
      title: '<span>Что мы делаем </span><span>не так?</span>',
      text: 'Побочным эффектом популярности БАДов стала традиция использовать их не по назначению – то есть не как добавку, обогащающую рацион веществами и пищевыми соединениями, задача которой оптимизировать обмен веществ и улучшать состояние микрофлоры кишечника, а как лекарство от разных болезней. Многие, кстати, продолжают делать это и сегодня, что не лучшим образом сказывается на репутации БАДов, которые лечить вообще не должны. Например, многие знают, что от цистита можно принимать клюквенные таблетки, и многие назначают их себе сами. Однако цистит – проблема серьезная, требующая профессиональной диагностики и назначений, а не рекомендаций кассовых шелфтокеров. И если в результате приема самостоятельно назначенного БАДа заболевание перейдет в более серьезную стадию – это будет не проблема клюквенных таблеток, а проблема человека, который занимался самолечением. ',
      img: {path: 'home/info-2.svg', w: '539', h: '519'},
      mod: 'info-section--reverse info-section--custom-2'
    },
    {
      title: '<span>А что там </span><span>с&nbsp;эффективностью?</span>',
      text: '<p>Есть и еще один момент, который в случае с БАДами несколько настораживает. </p><p>Дело в том, что контроль производства сырья, которое используется для получения БАДов, никак не регламентируется. Где и как оно собрано? В какое время? Каким способом обработано?  На все эти вопросы в случае с биологически-активными добавками получить ответ практически невозможно. Для конечного потребителя это означает отсутствие определенности. То есть если повезет, средство может работать очень хорошо, если не повезет, стать бесполезным малоэффективным.</p>',
      img: {path: 'home/info-3.svg', w: '496', h: '452'},
      mod: 'info-section--bg info-section--custom-3'
    }
  ]