section.inner-hero.inner-hero--phytology(data-aos="fade-in")
  .inner-hero__container.container 
    h1.inner-hero__title.title 
      div(data-aos="fade-up", data-aos-delay="200") Фитология:
      span(data-aos="fade-up", data-aos-delay="300") «голубая кровь» лекарственных препаратов на основе растений
    div(data-aos="fade-up", data-aos-delay="400")
      .inner-hero__plate Средства, созданные по принципу фитониринга,&nbsp;– это «голубая кровь» лекарственных препаратов, созданных на основе растений. Концепцию фитониринга придумала, а впоследствии и запатентовала компания «Бионорика». Для производства лекарственных препаратов на протяжении более 88 лет «Бионорика» сочетает знания в области фитотерапии с современными фармацевтическими исследованиями, раскрывая огромный потенциал активных веществ в растениях. Задача фитониринга – усилить контроль на всех этапах создания лекарственного&nbsp;средства: Начиная с выбора места для будущих плантаций для выращивания растений и заканчивая бережными способами сбора сырья и исследованиями сложных сочетаний действующих веществ, обнаруживаемых в лекарственных растениях. 

      